:root {
  --black: #000;
}

#root {
  /* max-width: 1280px; */
  margin: 0;
  padding: 0;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em var(--black));
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em var(--black));
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.nav-link {
  color: var(--black);
}

.nav-link:focus, .nav-link:hover { 
  color: var(--black);
  border-bottom: 1px solid var(--black);
}

.logoPic {
  padding-bottom: 5px;
  width: 60%;
}

.header {
  width: 40%;
}

.nav-book {
  position: sticky;
  top: 0;
  background-color: #1E1E24;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.book-link:hover {
  color: var(--puce);
}

.address:hover {
  color: var(--puce);
}

.instagram,
.phone,
.email {
  height: 2em;
  width: 2em;
  margin: 5px;
}

.instagram:hover,
.phone:hover,
.email:hover {
  color: var(--puce);
}

.content {
  flex: 1;
}
.footer {
  background-color: var(--black);
}

.icons {
  display: flex;
}

.content-container {
  min-height: calc(100vh - 352px);
}

